<%- include('partials/header'); %>
	<h1>Contact</h1>
	<p><%=startingContent%></p>
	<p class="contactDetails"><i class="fas fa-phone-alt "></i> <%=contactNumber%></p>
	<p class="contactDetails"><i class="fas fa-envelope "></i> <%=contactEmail%></p>
<%- include('partials/footer'); %>